alias rm="rm -r"

alias map="xargs -n1"

alias lg="lazygit"
alias lzd="lazydocker"

alias wiki="nvim -c ':VimwikiIndex'"

alias dot="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

alias nvim="/usr/local/src/nvim-linux64/bin/nvim"
