[user]
  # Set in .gitconfig.local

[core]
  editor = nvim

[merge]
  tool = nvimdiff

[mergetool "nvimdiff"]
  path = nvim

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  path = nvim

[difftool]
  prompt = false

[include]
  path = ~/.gitconfig.local

